<div class="puzzle-settings">
    <h2>{{localize "puzzle.settings.exemple_creation"}}</h2>

    <div class="types-list">
        <label>
            <input type="checkbox" name="exemple1" value="1">
            <span>{{localize "puzzle.settings.form.exemple.ex1"}}</span>
        </label>
    </div>
    <div class="types-list">
        <label>
            <input type="checkbox" name="exemple2" value="1">
            <span>{{localize "puzzle.settings.form.exemple.ex2"}}</span>
        </label>
    </div>
    <div class="types-list">
        <label>
            <input type="checkbox" name="exemple3" value="1">
            <span>{{localize "puzzle.settings.form.exemple.ex3"}}</span>
        </label>
    </div>

    <footer class="sheet-footer">
        <button type="submit"><i class="far fa-save"></i> {{localize "puzzle.settings.form.exemple.submit"}}</button>
    </footer>
</div>